<% include partials/header %>

<!-- <section class="jumbotron text-center">
    <div class="container">
          <h1 class="jumbotron-heading">Landing Page!</h1>
          <p class="lead text-muted">Welcome to YelpCamp</p>
          <p>
            <a href="/campgrounds" class="btn btn-primary my-2">View All Campgrounds</a>
          </p>
    </div>
</section> -->


<main role="main" class="inner cover">
    <h1 class="cover-heading">Landing Page!</h1>
    <p class="lead">Welcome to YelpCamp</p>
    <p class="lead">
      <a href="/campgrounds" class="btn btn-lg btn-secondary">View All Campgrounds</a>
    </p>
  </main>

<% include partials/footer %>